<!--
  Name: Md Raihanul Kabir Rafi
  R- number: r0913740
-->

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Thomas More Zoo Project - Rafi</h1>
    <p>
        <a th:href="@{/visitor/new}">New visitor</a><br>
    </p>
    <p>
        <a th:href="@{/staff/new}">New staff member</a>
    </p>
    <p>
        <a th:href="@{/staff/list}">List of staff members</a>
    </p>
    <p>
        <a th:href="@{/visitor/list}">List of visitors</a>
    </p>
    <p>
        <a th:href="@{/zoo/new}">New zoo</a>
    </p>
    <p>
        <a th:href="@{/zoo/list}">List of zoos</a>
    </p>

</body>
</html>
